* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

#welcome-page {
    min-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url("../images/hero-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#welcome-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-muted {
    color: white !important;
}

#cont-btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100px;
    text-align: center;
}

#cont-btn a {
    width: 100%;
    height: 60px;
    color: white;
    font-size: 1.2rem;
}

.btn-primary, .btn-primary:hover {
    background-color: #2d5986;
    border: 1px #2d5986;
    height: 44px;
    font-weight: 400;
    font-size: 1.2em;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: transparent;
    border: 1px solid #2d5986;
}

#btn-continue:hover {
    border: 1px #bbb;
    background: black;
    color: white;
}

#content {
    background: #2d5986;
    max-width:100%;
    min-height: 100vh;
}

#quote {
    font-family: 'Bad Script', cursive;
    font-size: 1.5em;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 300px;
  }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background-size: contain;
}

div.demo-card-square.mdl-card.mdl-shadow--2dp.mt-4.ml-1.d-flex.justify-content-center div.mdl-card__actions.mdl-card--border a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {
    color: black;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: black;
}

/* .show {
    border: 1px solid red;
} */

div {
    box-sizing: border-box;
}