* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #fcfcfc;
}

#welcome-page {
    min-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .1)), url("../images/hero-img.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#welcome-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-title {
    font-family: 'Tangerine', cursive;
    padding: 0;
    margin: 0;
    font-size: 8em;
    line-height: 1em;
}

.text-muted {
    color: white !important;
}

.upload-quote {
    font-size: 15px;
    line-height: 1.4em;
}

#browse {
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid #539f91;
    border-radius: 4px;
    padding: 2px;
    width: 200%;
    height: 30px;
    margin: 5%;
}

#start-link {
    text-decoration: none;
}

#start-link:active {
    text-decoration: none;
}

#start-link span {
    font-size: 28px;
}

#bk-to-top {
    display: flex;
    align-items: center;
    position: absolute;
    left: 87%;
    top: 90%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #b7a476;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    vertical-align: bottom;
    position: fixed;
    z-index: 999;
}

#cont-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100px;
    text-align: center;
}

#cont-btn a {
    width: 100%;
    height: 60px;
    color: white;
    font-size: 1.2rem;
}

.btn-primary, .btn-primary:hover {
    background-color: #76b7ab;
    border: 1px #76b7ab;
    height: 44px;
    font-weight: 400;
    font-size: 1.2em;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: transparent;
    border: 1px solid #76b7ab;
}

#btn-continue:hover {
    border: 1px #bbb;
    background: black;
    color: white;
}

#content {
    background: #76b7ab;
    max-width:100%;
    min-height: 100vh;
}

#quote {
    font-size: 24px;
}

#upload-icon-div {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    border: 1px solid white;
    width: 40px;
    border-radius: 4px;
    margin-top: 1px;
}
#upload-icon-div > i {
    align-self: center;
    text-align: center;
    margin-right: 2px;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 300px;
  }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background-size: cover !important;
    background-position: center !important;
}

div.demo-card-square.mdl-card.mdl-shadow--2dp.mt-4.ml-1.d-flex.justify-content-center div.mdl-card__actions.mdl-card--border a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {
    color: black;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: black;
}

#location-title {
    width: 100%;
    height: 50px;
    background-color: #76b7ab;
    padding-top: 10px;
}

.location-title {
    color: white;
    font-size: 26px;
}

#location-name-div {
    background: #76b7ab;
    color: white;
}

.description-title {
    font-size: 20px;
    color: black;
    padding-top: 10px;
}

#insp-msg{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

#sendButton {
    background:transparent;
    border: none;
    color: white;
    font-size: 18px;
}

.description {
    color: black;
}

#map {
    width: 100%;
    min-height: 200px;
}

#back-btn {
    position: absolute;
    left: 80%;
}

.location-images > img{
    max-width: 280px;
    max-height: 280px;
    border-radius: 4px;
}

.other-pics-title {
    font-size: 24px;
    color: black;
}

.image-header {
    color: #666;
    font-size: 12px;
}

.image-tags {
    color: #666;
    font-size: 12px;
}

.bg-cover {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center !important;
}

.error-msg {
    color:red;
    font-size: 16px;
}

#map-directions {
    min-height: 250px;
    margin: 6px;
}

#dir-title, #quote {
    color: white;
}

#directions {
    background-color: #9478ba;
}

#file-upload-icon {
    font-size: 20px;
    margin: 5px;
    margin-left: 20px;
}

.step-num {
    font-size: 16px;
    font-weight: 600;
}

#pdf-btn {
    background-color: #76b7ab;
    border: none;
    border-radius: 4px;
    color: white;
    min-height: 40px;
    width: 130px;
}

.mdl-card__title-text {
    background-color: rgba(0,0,0, .5);
    width: 120%;
    margin: -16px !important;
    padding: 14px !important;
}

div {
    box-sizing: border-box;
}